:root {
  --light-grey: #f8f9fa;
  --medium-grey: #e5e5e5;
  --dark-grey: #c8c8c8;
  --python-gallery: #cb1dd1;
  --light-black: #484848;
}

/* Each section has a specific color */
.distribution {
  color: #e0ac2b;
}
.correlation {
  color: #7f7f7f;
}
.ranking {
  color: #a4c969;
}
.partOfAWhole {
  color: #e85252;
}
.evolution {
  color: #6689c6;
}
.map {
  color: #9a6fb0;
}
.flow {
  color: #a53253;
}

/* ---------- Global CSS ----------------- */
body {
  overflow-x: hidden;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  line-height: 30px;
  color: #333;
}

/* I use the Container component of the react-bootstrap library. */
/* But on wide screen I feel like the website is too wide. This restricts it a bit. */
.container {
  max-width: 822px;
}


/* ---------- Titles ----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  /* scroll margin allows to add a bit of space around the title we're targeting with the table of content */
  scroll-margin: 100px;
}

h2 {
  font-size: 22px;
  width: 100%;
  border-bottom: 1px solid var(--medium-grey);
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid var(--medium-grey);
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

p {
  line-height: 1.75;
  font-family: "Roboto";
}





/* ---------- Section ----------------- */
.lightSection {
  padding-top: 2px;
  padding-bottom: 10px;
}

.greySection {
  background-color: var(--light-grey);
  padding-top: 2px;
  padding-bottom: 10px;
}

code {
  background-color: var(--light-grey);
  padding: 4px;
  border-radius: 4px;
}

blockquote {
  background: var(--light-grey);
  border-left: 2px solid var(--python-gallery);
  margin: 10px 50px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
}

.sectionTitle {
  font-size: 20px;
}

/* Code appearance in notebooks: */
pre.input {
  line-height: 1.35em;
  margin-bottom: 20px;
  margin-top: 0px;
}

a {
  color: var(--python-gallery);
}

a:hover {
  color: #251667;
}



/* ---------- Button ----------------- */
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-color: var(--python-gallery);
  color: var(--python-gallery);
  border-width: 2px;
  background-color: transparent;
  margin: 3px;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: var(--python-gallery);
  border-color: var(--python-gallery);
  color: white;
}