.sectionTitle {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid var(--medium-grey);
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

/* ---------- Layout with 7 columns ----------------- */
.col-1-7 {
  width: 14.28571429%; /* 100% divided by 7 */
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 15px;
}
/* Medium screens and below */
@media (max-width: 768px) {
  .col-1-7 {
    width: 25%; /* 100% divided by 3 for medium screens and below */
    padding-right: 18px;
    padding-left: 18px;
  }
}
