.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Override the usual h2 title here, but keep h2 to be included in TOC */
.contactSection .contactTitle {
  width: inherit;
}

.contactSection .contactText {
  max-width: 600px;
  text-align: center;
}
