.footer {
    background-color: var(--light-grey);
    padding: 40px;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 13px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.policy {
    text-align: left;
    width: 33%;
}
.copyright {
    text-align: right;
    width: 33%
}

@media (max-width: 650px){
    .policy {
        display: none
    }
    .copyright {
        display: none
    }
}
