.sectionLogoContainer {
  position: relative;
}

.sectionLogoOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.95s ease;
  background-color: #808080;
  border-radius: 100%;
  cursor: pointer;
}

.sectionLogoContainer:hover .sectionLogoOverlay {
  opacity: 0.7;
}

.sectionLogoOverlayText {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.sectionLogoCaption {
  text-align: center;
  color: var(--light-black);
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
}
