.menuModalCloseModalButton {
  color: black;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.menuModal {
  background-color: white !important;
  width: 100%;
}
