/* h1 is defined in main style.css sheet */
.titleAndDescription {
  padding-top: 150px;
  padding-bottom: 80px;
}

.titleAndDescription .description {
  max-width: 800px;
}

.mainTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleRow {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
/* ---------- Horizontal separator ----------------- */
.smallHr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid black;
  width: 0;
  animation: separator-width 2s ease-in-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}
