.patchwork-container {
  width: 100%;
  /* background-color: aquamarine; */
}

.voronoi-cell {
  cursor: pointer;
  filter: grayscale(0%);
  opacity: 1;
  transition: opacity, filter;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

.voronoi-cell.dimmed {
  opacity: 0.3;
  filter: grayscale(100%);
}

.voronoi-cell:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.cell-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  margin-top: 19px;
  padding-top: 6px;
  font-size: 15px;
  color: #484848;
  border-left: solid var(--python-gallery);
  padding-left: 10px;
}

.cell-caption-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
.cell-caption-author {
  padding-left: 4px;
}
.cell-caption-click {
  color: var(--python-gallery);
}
